<div class="rent-book-room">
    <div class="topbar-sub">
        <div class="container d_flex-center">
            <div class="d_flex-center w-100">
                <mat-icon class="mat-list-icon text-warning icon-bar-sub">vpn_key</mat-icon>
                <div class="topbar-sub-title">{{room.name}}</div>
                <div class="flex-grow-1"></div>
                <button mat-button class="text-primary" (click)="save()">
                    <i class="fas fa-save"></i>Nhận phòng
                </button>
            </div>
        </div>
    </div>
    <div class="form-sub">
        <form [formGroup]="bookRoomForm">
            <div class="w-100 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pl-2">
                    <mat-label>Nhập mã idNo</mat-label>
                    <input (change)="findIdNo()" matInput formControlName="idNo">
                </mat-form-field>
            </div>
            <div class="w-100 d_flex-center">
                <mat-form-field appearance="fill" class="formField w-100 pl-2">
                    <mat-label>Họ và tên</mat-label>
                    <input matInput formControlName="fullName">
                </mat-form-field>
                <button mat-raised-button (click)="showFormCustomer()">Add</button>
            </div>
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pr-2">
                    <mat-label>Số người lớn</mat-label>
                    <input matInput type="number" class="text-right" formControlName="totalAdults">
                </mat-form-field>
            </div>
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pl-2">
                    <mat-label>Số trẻ nhỏ</mat-label>
                    <input matInput type="number" class="text-right" formControlName="totalChildren">
                </mat-form-field>
            </div>
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100">
                    <mat-label>Tiền trả trước</mat-label>
                    <div class="d_flex-center">
                        <span>
                        <input matInput type="number" class="text-right" formControlName="deposit"></span>
                        <div matsuffix>.000&nbsp;₫</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="container-fix" *ngIf="formCustomer">
                <div class="context-customer">
                    <div class="w-50 d-inline-block">
                        <mat-form-field appearance="fill" class="formField w-100 pl-2">
                            <mat-label>Tên</mat-label>
                            <input matInput type="text" class="text-right" formControlName="firstName">
                        </mat-form-field>
                    </div>
                    <div class="w-50 d-inline-block">
                        <mat-form-field appearance="fill" class="formField w-100 pl-2">
                            <mat-label>Họ</mat-label>
                            <input matInput type="text" class="text-right" formControlName="lastName">
                        </mat-form-field>
                    </div>
                    <div class="w-100 d-inline-block">
                        <mat-form-field appearance="fill" class="formField w-100 pl-2">
                            <mat-label>Họ và tên</mat-label>
                            <input matInput type="text" class="text-right" formControlName="fullName2">
                        </mat-form-field>
                    </div>
                    <div class="w-50 d-inline-block">
                        <mat-form-field appearance="fill" class="formField w-100 pl-2">
                            <mat-label>Số điện thoại</mat-label>
                            <input matInput type="number" class="text-right" formControlName="phoneNumber">
                        </mat-form-field>
                    </div>
                    <div class="w-50 d-inline-block">
                        <mat-form-field appearance="fill" class="formField w-100 pl-2">
                            <mat-label>idNo</mat-label>
                            <input matInput type="number" class="text-right" formControlName="idNo2">
                        </mat-form-field>
                    </div>
                    <div class="w-50 d-inline-block">
                        <mat-form-field appearance="fill" class="formField w-100 pl-2">
                            <mat-label>Quốc tịch</mat-label>
                            <input matInput type="text" class="text-right" formControlName="nationality">
                        </mat-form-field>
                    </div>
                    <div class="w-50 d-inline-block">
                        <mat-form-field appearance="fill" class="formField w-100 pr-2">
                            <mat-label>Ngày sinh</mat-label>
                            <input formControlName="birthday" matInput [matDatepicker]="birthday" readonly>
                            <mat-datepicker-toggle matIconSuffix [for]="birthday"></mat-datepicker-toggle>
                            <mat-datepicker #birthday></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="w-100 d-inline-block">
                        <section class="example-section">
                            <label class="example-margin">Align:</label>
                            <mat-radio-group formControlName="sex">
                              <mat-radio-button class="example-margin" value="true">Nam</mat-radio-button>
                              <mat-radio-button class="example-margin" value="false">Nữ</mat-radio-button>
                            </mat-radio-group>
                          </section>
                    </div>
                    <div class="w-100 btnAdd">
                        <button mat-raised-button (click)="hideFormCustomer()">Hủy</button>
                        <button mat-raised-button color="primary" (click)="createCustomer()">Lưu</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>