.topbar-sub {
    height: 63px;
    border-bottom: 1px solid rgba(1,1,1,.1);
}

.topbar-sub .container {
    padding: 0 1rem!important;
    height: 100%;
}

.icon-bar-sub {
    margin-right: 1rem;
}

.topbar-sub-title {
    font-size: 15px;
    margin-right: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.form-sub {
    padding: 1rem;
}

.container-use-menu {
    margin: 0 -1rem;
}

.container-use-menu .toolbar {
    height: 45px;
    border-top: 1px solid #dee2e6!important;
    border-bottom: 1px solid #dee2e6!important;
    background-color: #ffffff;
    justify-content: space-between;
}

.container-use-menu .toolbar .title-toolbar {
    font-weight: 400;
    font-size: 14px;
    color: grey;
}

.container-total {
    justify-content: space-around;
    border-bottom: 1px solid rgba(1,1,1,.1);
    font-size: 1.2em;
    height: 50px;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    text-align: center;
}

.quantity-input {
    width: 36px;
    padding: 5px 0;
    outline: none;
}

.container-fix {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.32);
}

.context-customer {
    border-radius: 20px;
    padding: 25px;
}

.btnAdd {
    display: flex;
    justify-content: space-around;
}