<div *ngFor="let reSer of arrayReServations">
  <div class="fc-content">
    <div class="fc-event st-booking " [matMenuTriggerFor]="menu" [style.left]="countleft(reSer.reservedAt)"
      [style.width]="countWidth(reSer.reservedAt, reSer.reservedOut)">
      <div class="d-flex align-item">
        <div class="alight"><mat-icon>person</mat-icon>{{findName(reSer.customerId)}}</div>
      </div>
      <mat-menu #menu="matMenu">
        <div class="submenu">
          <button mat-menu-item (click)="showEditResertationVisible()"><mat-icon>edit</mat-icon>Chỉnh
            sửa</button>
          <button mat-menu-item (click)="showReceiveRoomVisible()"><mat-icon>vpn_key</mat-icon>Nhận
            phòng</button>
          <button mat-menu-item><mat-icon>cancel</mat-icon>Hủy đặt phòng</button>
          <button mat-menu-item><mat-icon>delete</mat-icon>Xóa</button>
        </div>
      </mat-menu>
    </div>
  </div>
</div>

<div class="fc-content " *ngIf="reservationDetail">
  <div class="fc-event st-booking green" [matMenuTriggerFor]="menu" [style.left]="countleft(reservationDetail.checkInAt)" 
    [style.width]="countWidth(reservationDetail.checkInAt,newDate )">
    <div class="d-flex align-item">
      <div class="alight"><mat-icon>person</mat-icon>{{findName(reservationDetail.customerId)}}</div>
    </div>
    <mat-menu #menu="matMenu">
      <div class="submenu">
        <button mat-menu-item (click)="showEditResertationVisible()"><mat-icon>edit</mat-icon>Chỉnh
          sửa</button>
        <button mat-menu-item (click)="showReceiveRoomVisible()"><mat-icon>vpn_key</mat-icon>Nhận
          phòng</button>
        <button mat-menu-item><mat-icon>cancel</mat-icon>Hủy đặt phòng</button>
        <button mat-menu-item><mat-icon>delete</mat-icon>Xóa</button>
      </div>
    </mat-menu>
  </div>
</div>