*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.w-70{
    width: 60%;
}
.p-12{
    padding: 12px;
}
.w-30{
    width: 40%;
}
.pl-8{
    padding-left: 8px;
}
.ml-8{
    margin-left: 8px;
}
.border-right-100{
    border-right: 2px solid rgb(199, 190, 190);
}
.ml-20{
    margin-left: 20px ;
}
.example-full-width{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.justify-content-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}
.st-booking{
    background-color: #42a5f5;;
}
.st-checkin{
    background-color: #26a69a;;
}
.hw-16{
height: 16px;
width: 16px;
}
.toggle_table{
    overflow: hidden;
}
.table-border,td{
    border: 1px solid rgba(0, 0, 0, .06);
    margin-bottom: 4px;
}
.table-border,td{
    border: 1px solid rgba(0, 0, 0, .06);
    margin-bottom: 4px;
}
.fc-cell {
    min-width: 107px;
}
.text-center {
    text-align: center;
}
.header-room {
    color: #009688;
}
.fc-row{
    position: relative;
}
.max-w-200{
    max-width: 300px;
}
.text-warning {
    color: #ff5722 !important;
}
.mat-icon {
    margin: 0 12px;
}
.calendar-control {
    margin-top: 16px;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.btn-icon-arrow {
    cursor: pointer;
    background-color: #fff;
    border: none;
}

.btn {
    cursor: pointer;
}
.p-16{
    padding: 16px;
}
// right panel
.right-panel {
    min-width: 450px;
    width: 450px;
    min-height: calc(100vh - 65px);
    border-left: 1px solid rgba(1, 1, 1, .1);
    overflow-y: auto;
}
.xam{
    background-color:#757373
}
.sub-panel {
    padding: 16px;
}
.sub-content {
   
    display: flex;
    align-items: center;
}
.uppercase{
    text-transform: uppercase;
    font-size: 15px;
}
.btn-check{
    align-items: center;
    display: flex;
    border: none;
    background: #fff;
}
.btn {
    cursor: pointer;
}
.text-primary {
    color: #009688 !important;
}
.form-sub{
    padding: 10px;
}
.mat-form-field{
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: left;
}
.ngay{
    padding: 8px;
}
.flex{
    display: flex;
}
.input{
    padding: 0;
}
.item{
    border: 1px solid rgba(0, 0, 0, .06);
    justify-content: space-around;
    align-items: center;
    height: 45px;
    display: flex;
}
.btn-icon-arrow {
    cursor: pointer;
    background-color: #fff;
    border: none;
}
// matchip
.mat-chip-list-wrap{
    justify-content:inherit;;
}
.example-chip-list {
    width: 100%;
  }

  .icon-cancel{
    display: contents;
  }
//   form add
.justify-content-space-betweent{
    justify-content: space-between;
}
.mw-500{
max-width: 520px;
}
.mw-250px{
    max-width: 250px;
}
.mr-126{
    margin-right: 126px;
}
.color-x{
    color: rgba(0, 0, 0, 0.6);
}
.mr-68{
    margin-right: 68px;
}
.fs-16{
    font-size: 16px;
}
.border-none{
    border: none;
}
.p16-24{
    padding: 16px 24px;
}
.border-none{
    border: none;
}
.mr-12{
    margin-right: 12px;
}

.btnTao{
    margin-top: 20px;
    margin-left: 90px;
    background: #339f33;
    width: 300px;
}
.btnAdd{
    padding: 4px 14px; border:none; color: rgb(233, 109, 0);
}
.ml-145{
    margin-left: 145px;
}
// choice phòng
.choicephong{
    width: 650px;
    height: 400px; 
    top: 50%;
    left: 400px;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    border: 2px solid #f3f3f3;
   

}
.unlist-Style li {
    cursor: pointer;
    /* background-color: aqua; */
    display: inline-block;
}

    .unlist-Style li:hover {
        cursor: pointer;
    }

.active-tab {
    border-bottom: 3px solid rgb(0, 94, 255);
}

.tab-list li {
    text-align: center;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
}
.m-20{
    margin: 20px;

}
.mw-400{
    max-width: 400px;
}
.show {
    display: block;
}
.btnClose{
    right: 50px;
    position: absolute;
    top: 13px;
}
//card
.card{
    width: 240px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-check{
    align-items: center;
    display: flex;
    border: none;
    background: #fff;
}  
//card
///addperson
.align-center{
    align-items: center;
}
.w-50{
    width: 50%;
}
.mr-12{
margin-right: 12px;
}
.color-xam{
    color: rgba(0, 0, 0, 0.6);
}
.left-80{
    left: 80px;
}

.conteiner-table {
    position: relative;
}

.posit {
    position: absolute;
    top: 2px;
}

.personitem {
    overflow: hidden;
    height: 21px;
}
