
<div class="ng-star-inserted">
  <!-- topbar -->
  <div class="topbar">
    <div class="container-fluid d-flex h-100">
      <div class="justify-content-center align-self-center">
        <button class="mat-button btn btn-secondary bmd-btn-icon btn-back" type="button"><i
            class="material-icons">menu</i>
          <div class="ripple-container"></div>
        </button>

        <span class="topbar-title">Đặt phòng</span>
        <button class="btn-top text-primary mat-button" mat-button="" (click)="showAddReservationVisible()">
          <span class="mat-button-wrapper"><mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
              role="img" aria-hidden="true">note_add</mat-icon><span class="icon-text">Thêm mới</span>
          </span>
          <div class="mat-button-ripple mat-ripple" matripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </button>
      </div>
    </div>
  </div>
  <!-- topbar -->
  <!-- bottombar -->
  <!-- label  -->
  <div class="main-container d-flex flex-row">
    <div class="left-panel">
      <mat-tab-group [(selectedIndex)]="selectTab">
        <mat-tab label="First">
          <ng-template mat-tab-label>
            <mat-icon class="text-info mat-icon">local_hotel</mat-icon>
            <label for="">Lịch theo phòng</label>
          </ng-template>


          <div class="mat-tab-body">

            <div class="list-panel">

              <mat-form-field appearance="fill" class="item-form-field" (click)="xemketqua()">
                <label>Từ ngày</label>
                <input matInput #myInputFrom [matDatepicker]="datepicker12"
                  (dateChange)="onDateTabFirstFrom($event.target)" [(ngModel)]="selectedDateFirstTab">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker12"></mat-datepicker-toggle>
                <mat-datepicker #datepicker12></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill" class="item-form-field" (click)="xemketqua()">
                <label>Đến ngày</label>
                <input matInput #myInputTo [matDatepicker]="datepicker20"
                  (dateChange)="onDateTabFirstTo($event.target)">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker20"></mat-datepicker-toggle>
                <mat-datepicker #datepicker20></mat-datepicker>
              </mat-form-field>


              <mat-form-field appearance="fill" class="select item-form-field">
                <mat-label>Loại phòng</mat-label>
                <mat-select [(value)]="selectedRoom ">
                  <div class="options">
                    <mat-option [value]="valuenull" (click)="getroomType(valuenull)">Tất cả</mat-option>
                    <mat-option *ngFor="let roomtype of listRoomTypes"
                      [value]="roomtype.name"  #selectRoomTypes (click)="getroomType(roomtype.name)" >{{roomtype.name}}</mat-option>           
                  </div>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="item-form-field">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput type="text" [(ngModel)]="searchQuery" placeholder="Tìm kiếm phòng">
                <!-- <input matInput> -->
              </mat-form-field>
              <div class="status">
                <div class="item-status">
                  <div class="icon-status st-booking"></div>
                  <div class="st-text">Chưa nhận phòng</div>
                </div>
                <div class="item-status">
                  <div class="icon-status st-checkin"></div>
                  <div class="st-text">Đã nhận phòng</div>
                </div>
                <div class="item-status">
                  <div class="icon-status st-checkout"></div>
                  <div class="st-text">Đã trả phòng</div>
                </div>
              </div>

              <!-- table -->
              <table class="toggle_table">
                <div class="table">
                  <table class="table-border">
                    <tr>
                      <td class="fc-cell text-center header-room">Phòng</td>

                      <td class="fc-cell text-center" *ngFor="let x of arrayfix ; let i=index"> {{getDate+i}} /
                        {{getMonth}}</td>
                    </tr>
                  </table>

                  <div class="bt fc-row" *ngFor="let room of rooms;let i=index;">
                    <div>
                      <table class="table-border" *ngIf="selectedRoom==valuenull&&room.name.includes(searchQuery)">
                        <tr>
                          <td class="fc-cell text-center header-room">{{room.name}}</td>
                          <td class="fc-cell text-center" *ngFor="let x of arrayfix ;"></td>
                        </tr>
                      </table>

                      <table class="table-border" *ngIf="selectedRoom!='all'&&room.roomType==selectedRoom&&room.name.includes(searchQuery)">
                        <tr>
                          <td class="fc-cell text-center header-room">{{room.name}}</td>
                          <td class="fc-cell text-center" *ngFor="let x of arrayfix ;"></td>
                        </tr>
                      </table>
                      <app-info-person-bookroom [room]="room" [date]="selectedDateFirstTab"></app-info-person-bookroom>
                    </div>
                  </div>
                </div>
              </table>

              <!-- table -->
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Second">

          <ng-template mat-tab-label>
            <mat-icon class="text-primary mat-icon">date_range</mat-icon>
            <label for="">Lịch theo loại phòng</label>
          </ng-template>
          <div class="calendar-control">
            <div class="direction">
              <button class="btn-icon-arrow" (click)="arrow_backTabSecond()">
                <mat-icon>arrow_back</mat-icon>
              </button>
              <button class="btn-icon-arrow" (click)="arrow_forwardTabSecond()">
                <mat-icon>arrow_forward</mat-icon></button>
            </div>
            <div>Tháng {{this.monthTabSecond}} - {{this.yearTabSecond }}</div>
          </div>

          <div class="calendar-body">
            <div class="day center fw-500">
              <div class="">Thứ 2</div>
            </div>
            <div class="day center fw-500">
              <div>Thứ 3</div>
            </div>
            <div class="day center fw-500">
              <div>Thứ 4</div>
            </div>
            <div class="day center fw-500">
              <div>Thứ 5</div>
            </div>
            <div class="day center fw-500">
              <div>Thứ 6</div>
            </div>
            <div class="day center fw-500">
              <div>Thứ 7</div>
            </div>
            <div class="day center fw-500">
              <div>Chủ nhật</div>
            </div>
            <div class="order " *ngFor="let day of listDate;let i=index">
              <div class="item-order">
                <div class="btn-book">
                  <button class="btn-order" (click)="showAddReservationVisible()"><mat-icon
                      class="text-primary icon-add">add</mat-icon></button>
                </div>
                <div class="btn-stt" (click)="onKey(incrementedValues[i]);viewbydate();checkStatusReservation(this.dateThird);chuyenTab();">
                  <button class="btn-s">{{ incrementedValues[i] }}
                  </button>
                </div>
              </div>



              <div class="item-order">
                <mat-icon class="text-warning " mat-raised-button matTooltip="Info about the action"
                  aria-label="Button that displays a tooltip when focused or hovered over">meeting_room</mat-icon>1
              </div>

              <div class="item-order flex">
                <div class="direc">
                  <mat-icon mat-raised-button class="btn-direc" matTooltip="Info about the action"
                    aria-label="Button that displays a tooltip when focused or hovered over"
                    class="text-primary">directions_walk</mat-icon>1
                </div>
                <div>
                  <mat-icon class="text-primary">no_meeting_room</mat-icon>1
                </div>

              </div>
            </div>

            <!-- orrder2 -->
            <div class="order">
              <div class="item-order">
                <div class="btn-book" (click)="showAddReservationVisible()">
                  <button class="btn-order"><mat-icon class="text-primary icon-add">add</mat-icon></button>
                </div>
                <div class="btn-stt" (click)="chuyenTab()">
                  <button class="btn-s">2</button>
                </div>
              </div>

              <div class="item-order">
                <mat-icon class="text-warning">meeting_room</mat-icon>1
              </div>

              <div class="item-order"></div>
              <div class="item-order flex">
                <div>
                  <mat-icon class="">airline_seat_flat_angled</mat-icon>1
                </div>
                <div>
                  <mat-icon class="">no_meeting_room</mat-icon>1
                </div>

              </div>

            </div>

          </div>
        </mat-tab>
        <mat-tab label="Third">
          <ng-template mat-tab-label>
            <mat-icon class="text-warning mat-icon">today</mat-icon>
            <label for="">Xem theo ngày</label>
          </ng-template>

          <div class="calendar-control">

            <div class="direction">
              <button class="btn-icon-arrow btn" (click)="arrow_back();checkStatusReservation(this.dateThird)">
                 <!-- checkReser() -->
                <mat-icon>arrow_back</mat-icon>
              </button>
              <button class="btn-icon-arrow btn" (click)="arrow_forward();checkStatusReservation(this.dateThird)">
                 <!-- checkReser() -->
                <mat-icon>arrow_forward</mat-icon></button>
            </div>

            <div class="mat-form-field">
              <input [(ngModel)]="myDate" type="date" #inputTab name="inTabThird" id="inTabThird"
                (change)="onDate($event.target);checkStatusReservation(this.dateThird) ">  
                  <!-- checkReser() -->
            </div>

          </div>

          <div class="list-card" >
            <!-- <mat-card class="mat-card" *ngFor=" let card of listCheckRese">
              <div class="card" >
                <div class="card-header row-card">
                  <div class="id-card"># </div>
                  <div [matMenuTriggerFor]="menuTab3"><mat-icon>more_vert</mat-icon>
                    <mat-menu #menuTab3="matMenu">
                      <div class="submenu">
                        <button mat-menu-item (click)="showEditResertationVisible()"><mat-icon>edit</mat-icon>Chỉnh
                          sửa</button>
                        <button mat-menu-item (click)="showReceiveRoomVisible()"><mat-icon>vpn_key</mat-icon>Nhận
                          phòng</button>
                        <button mat-menu-item><mat-icon>cancel</mat-icon>Hủy đặt phòng</button>
                        <button mat-menu-item><mat-icon>delete</mat-icon>Xóa</button>
                      </div>
                    </mat-menu>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row-body row-card">
                    <div><mat-icon>face</mat-icon></div>
                    <div>{{this.customerName}}</div>
                  </div>
                  <div class="row-body row-card">
                    <div><mat-icon>swap_horiz</mat-icon></div>
                    <div>{{this.status}}</div>
                  </div>
                  <div class="row-body row-card">
                    <div><mat-icon>timer</mat-icon></div>
                    <div>{{dateCheckin}} - {{dateCheckout}}</div>
                  </div>
                  <div class="row-body row-card">
                    <div class="quantity_room row-card">
                      <div><mat-icon>meeting_room</mat-icon></div>
                      <div>{{numberrooms}}</div>
                    </div>
                    <div class="phone_number row-card">
                      <div><mat-icon>phone</mat-icon></div>
                      <div>{{this.customerPhone}}</div>
                    </div>
                  </div>
                  <div class="row-body row-card">
                    <div><mat-icon>local_hotel</mat-icon></div>
                    <div *ngFor="let room of roomlist">{{room}} &nbsp; </div>
                  </div>
                </div>
              </div>
            </mat-card> -->
            <mat-card class="mat-card" *ngFor=" let card of listCheckReseDetail">
              <div class="card" >
                <div class="card-header row-card">
                  <div class="id-card"># </div>
                  <div [matMenuTriggerFor]="menuTab3"><mat-icon>more_vert</mat-icon>
                    <mat-menu #menuTab3="matMenu">
                      <div class="submenu">
                        <button mat-menu-item (click)="showEditResertationVisible()"><mat-icon>edit</mat-icon>Chỉnh
                          sửa</button>
                        <button mat-menu-item (click)="showReceiveRoomVisible()"><mat-icon>vpn_key</mat-icon>Nhận
                          phòng</button>
                        <button mat-menu-item><mat-icon>cancel</mat-icon>Hủy đặt phòng</button>
                        <button mat-menu-item><mat-icon>delete</mat-icon>Xóa</button>
                      </div>
                    </mat-menu>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row-body row-card">
                    <div><mat-icon>face</mat-icon></div>
                    <div>{{this.customerName}}</div>
                  </div>
                  <div class="row-body row-card">
                    <div><mat-icon>swap_horiz</mat-icon></div>
                    <div>{{this.status}}</div>
                  </div>
                  <div class="row-body row-card">
                    <div><mat-icon>timer</mat-icon></div>
                    <div>{{dateCheckin}} - {{dateCheckout}}</div>
                  </div>
                  <div class="row-body row-card">
                    <div class="quantity_room row-card">
                      <div><mat-icon>meeting_room</mat-icon></div>
                      <div>{{numberrooms}}</div>
                    </div>
                    <div class="phone_number row-card">
                      <div><mat-icon>phone</mat-icon></div>
                      <div>{{this.customerPhone}}</div>
                    </div>
                  </div>
                  <div class="row-body row-card">
                    <div><mat-icon>local_hotel</mat-icon></div>
                    <div *ngFor="let room of roomlist">{{room}} &nbsp; </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab class="Four">
          <ng-template mat-tab-label>
            <mat-icon class="text-info mat-icon">search</mat-icon>
            <label for="">Tìm kiếm</label>
          </ng-template>

          <div class="mat-tab-body">

            <div class="list-panel">

              <mat-form-field appearance="fill" class="item-form-field">
                <label>Từ ngày</label>
                <input matInput [matDatepicker]="datepicker2">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
                <mat-datepicker #datepicker2>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill" class="item-form-field">
                <label>Đến ngày</label>
                <input matInput [matDatepicker]="datepicker3">

                <mat-datepicker-toggle matIconSuffix [for]="datepicker3"></mat-datepicker-toggle>
                <mat-datepicker #datepicker3>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>

              </mat-form-field>

              <button mat-icon-button="" class="mat-icon-button"><mat-icon
                  class="text-primary mat-icon ">search</mat-icon>
              </button>



            </div>
            <mat-form-field class="mat-table-filed">
              <mat-label>Tìm kiếm</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>

            <div>
              <table mat-table matSort>

                ID Column
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                Progress Column 
                <ng-container matColumnDef="customer">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Khách
                    hàng </th>
                  <td mat-cell *matCellDef="let row"> {{row.customerName}}% </td>
                </ng-container>

                 Name Column 
                <ng-container matColumnDef="reserAt">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày nhận phòng </th>
                  <td mat-cell *matCellDef="let row"> {{row.reserAt}} </td>
                </ng-container>

                Fruit Column 
                <ng-container matColumnDef="reserOut">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày trả phòng </th>
                  <td mat-cell *matCellDef="let row"> {{row.reserOut}} </td>
                </ng-container>

                Phone Column 
                <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại</th>
                  <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
                </ng-container>

                 Stattus Column 
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
                  <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                </ng-container>

               

                 Operate Column 
                <ng-container matColumnDef="operate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Thao tác </th>
                  <td mat-cell *matCellDef="let row">
                    <div class="menu">
                      <button mat-button [matMenuTriggerFor]="menu">:</button>
                      <mat-menu #menu="matMenu">
                        <div class="submenu">
                          <button mat-menu-item (click)="showEditResertationVisible()"><mat-icon>edit</mat-icon>Chỉnh
                            sửa</button>
                          <button mat-menu-item><mat-icon>cancel</mat-icon>Hủy đặt phòng</button>
                          <button mat-menu-item><mat-icon>delete</mat-icon>Xóa</button>
                        </div>
                      </mat-menu>

                    </div>
                  </td>
                </ng-container>

                 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        Row shown when there is no matching data.
        <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Không có dữ liệu "{{input.value}}"</td>
                </tr> 
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>

          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="right-panel rigth-add" *ngIf="isAddReservationVisible">
      <div class="sub-panel">
        <div class="topbar-sub">
          <div class="sub-content">
            <div class="uppercase">Thêm mới</div>
            <div><button class="btn-check btn text-primary uppercase"><mat-icon>check</mat-icon>Lưu</button></div>
          </div>
        </div>
        <div class="form-sub">
          <div class="sub-form-sub">
            <mat-form-field appearance="fill" class="mat-form-field">
              <input matInput placeholder="Họ tên khách hàng" class="input">
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field">
              <input matInput placeholder="Số điện thoại" class="input">
            </mat-form-field>

            <div class="ngay flex">
              <div class="ngay">

                <mat-form-field appearance="fill">
                  <mat-label>Ngày nhận phòng</mat-label>
                  <input matInput [matDatepicker]="picker10">
                  <mat-datepicker-toggle matIconSuffix [for]="picker10"></mat-datepicker-toggle>
                  <mat-datepicker #picker10></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="ngay">
                <mat-form-field appearance="fill">
                  <mat-label>Ngày trả phòng</mat-label>
                  <input matInput [matDatepicker]="picker11">
                  <mat-datepicker-toggle matIconSuffix [for]="picker11"></mat-datepicker-toggle>
                  <mat-datepicker #picker11></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <mat-form-field appearance="fill" class="mat-form-field">
              <label>Tiền trả trước</label>
              <input matInput placeholder="" class="input">
            </mat-form-field>

            <mat-form-field appearance="fill" class="mat-form-field">
              <label>Giá thỏa thuận</label>
              <input matInput placeholder="" class="input">
            </mat-form-field>

            <mat-form-field appearance="fill" class="mat-form-field">
              <label>Ghi chú</label>
              <input matInput placeholder="" class="input">
            </mat-form-field>

            <div class="item sub-content">
              <mat-toobar class="sub-content">
                <div class="sub-content">
                  <div class="">Phòng đặt</div>
                  <div> <Button class="btn-icon-arrow"><mat-icon class="text-warning">add_box</mat-icon>Thêm
                      phòng</Button></div>
                </div>
              </mat-toobar>
            </div>

            <div class="item">
              Chưa chỉ định phòng
            </div>

            <div class="item">
              <div>Loại phòng đặt</div>
              <div class="vertical sub-content">
                <div><mat-icon class="text-primary">vertical_align_bottom</mat-icon></div>
                <div>Cập nhât theo phòng</div>
              </div>
            </div>

            <div class="item">
              <div>Loại phòng(+1)</div>
              <div>Số phòng(-1)</div>
            </div>

            <div class="item">
              <div>Phòng đơn</div>
              <div>15</div>
            </div>

            <div class="item">
              <div>Phòng đôi</div>
              <div>7</div>
            </div>

            <div class="item">
              <div>Tổng số phòng</div>
              <div>22</div>
            </div>

          </div>
        </div>
        <!-- <app-cu-personnel></app-cu-personnel> -->
      </div>
    </div>
    <div class="right-panel right-edit" *ngIf="isEditResertationVisible">
      <div class="sub-panel">
        <div class="topbar-sub">
          <div class="sub-content">
            <div class="uppercase">Chỉnh sửa</div>
            <div><button class="btn-check btn text-primary uppercase"><mat-icon>save</mat-icon>Lưu</button></div>
          </div>
        </div>
        <div class="form-sub">
          <div class="sub-form-sub">
            <mat-form-field appearance="fill" class="mat-form-field">
              <input matInput placeholder="Họ tên khách hàng" class="input">
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field">
              <input matInput placeholder="Số điện thoại" class="input">
            </mat-form-field>

            <div class="ngay flex">
              <div class="ngay">

                <mat-form-field appearance="fill">
                  <mat-label>Ngày nhận phòng</mat-label>
                  <input matInput [matDatepicker]="picker4">
                  <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="ngay">
                <mat-form-field appearance="fill">
                  <mat-label>Ngày trả phòng</mat-label>
                  <input matInput [matDatepicker]="picker5">
                  <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                  <mat-datepicker #picker5></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <mat-form-field appearance="fill" class="mat-form-field">
              <label>Tiền trả trước</label>
              <input matInput placeholder="" class="input">
            </mat-form-field>

            <mat-form-field appearance="fill" class="mat-form-field">
              <label>Giá thỏa thuận</label>
              <input matInput placeholder="" class="input">
            </mat-form-field>

            <mat-form-field appearance="fill" class="mat-form-field">
              <label>Ghi chú</label>
              <input matInput placeholder="" class="input">
            </mat-form-field>

            <div class="item sub-content d-flex">
              <div>
                <mat-toobar class="sub-content">
                  <div class="sub-content">
                    <div class="">Phòng đặt</div>
                    <div> <Button class="btn-icon-arrow"><mat-icon class="text-warning">add_box</mat-icon>Thêm
                        phòng</Button></div>
                  </div>
                </mat-toobar>
              </div>

              <!-- <div class="">
                Chưa chỉ định phòng
              </div> -->
              <!-- <div class="item">
                Chưa chỉ định phòng
              </div> -->

            </div>


            <div class="item">
              Chưa chỉ định phòng
            </div>
            <div class="mat-chip-list-wrap item example-chip-list">
              <mat-chip-grid #chipGrid aria-label="Fruit selection">
                <mat-chip-row *ngFor="let room of rooms" (removed)="remove(room)">
                  {{room}}
                  <button matChipRemove [attr.aria-label]="'remove ' + room">
                    <mat-icon class="icon-cancel">cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
            </div>
            <div class="item">
              <div>Loại phòng đặt</div>
              <div class="vertical sub-content">
                <div><mat-icon class="text-primary">vertical_align_bottom</mat-icon></div>
                <div>Cập nhât theo phòng</div>
              </div>
            </div>

            <div class="item">
              <div>Loại phòng(+1)</div>
              <div>Số phòng(-1)</div>
            </div>

            <div class="item">
              <div>Phòng đơn</div>
              <div>15</div>
            </div>

            <div class="item">
              <div>Phòng đôi</div>
              <div>7</div>
            </div>

            <div class="item">
              <div>Tổng số phòng</div>
              <div>22</div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="right-panel right-checkin" *ngIf="isReceiveRoomVisible">
      <div class="sub-panel">
        <div class="topbar-sub">
          <div class="sub-content">
            <div class="checkin">
              <div> <mat-icon class="text-warning">vpn_key</mat-icon> </div>
              <div class="uppercase">Chọn phòng</div>
            </div>
            <div><button class="btn-check btn text-primary uppercase"><mat-icon class="fw-900">check</mat-icon>Nhận
                phòng</button></div>
          </div>
        </div>

        <mat-accordion multi class="accordion-mat">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Phòng đơn
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Phòng đôi
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>



      </div>
    </div>
    <div class="right-panel" *ngIf="isNormalVisible"></div>
  </div>
  <!-- label  -->


  <!-- bottombar -->
</div>
<div class="overlay-container">
  <div class="backdrop">

  </div>
  <div class="global-overlay">
    <div class="overlay-3">

    </div>
  </div>