<div class="d-flex">
    <div class="w-70 border-right-100">
        <div> <button mat-button color="primary">Primary</button></div>
    <div>
        <mat-tab-group>
            <mat-tab label="First">  
                <ng-template mat-tab-label>
                    <mat-icon class="text-info mat-icon">local_hotel</mat-icon>
                    <label for="">Lịch theo phòng</label>
                  </ng-template>

                  <div>
                    <mat-form-field appearance="fill" class="item-form-field">
                        <label>Từ ngày</label>
                        <input matInput #myInputFrom [matDatepicker]="datepicker12"
                          (dateChange)="onDateTabFirstFrom($event.target)" [(ngModel)]="selectedDateFirstTab">
                        <mat-datepicker-toggle matIconSuffix [for]="datepicker12"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker12></mat-datepicker>
                      </mat-form-field>
                  </div>

            </mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
          </mat-tab-group>
    </div>
    </div>

    <div class="w-30"></div>
</div>