.search-rent {
    padding-top: 13px;
    padding-bottom: 19px;
}

.search-input {
    padding: 0.4375rem 0;
    font-size: 1.8rem;
    color: #495057;
    outline: none;
    line-height: 1;
    
}

.form-control {
    background: bottom no-repeat,50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: 0;
    transition: background ease-out;
    padding-left: 0;
    padding-right: 0;
    background-image: linear-gradient(0deg,#009688 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.form-control:focus {
    background-size: 100% 100%,100% 100%;
    transition-duration: .3s;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.main-container {
    padding-top: 0;
    min-width: 1100px;
}

.room-panel {
    flex-grow: 1;
    overflow-x: auto;
    padding-top: 14px;
    width: calc(100vh - 710px);
}

.right-panel {
    min-width: 450px;
    width: 450px;
    min-height: calc(100vh - 65px);
    border-left: 1px solid rgba(1,1,1,.1);
    overflow-y: auto;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -0.0667em;
}

.mat-card-content>:last-child:not(.mat-card-footer), .mat-card>:last-child:not(.mat-card-footer) {
    margin-bottom: 0;
}

.left-text {
    width: 90px;
}

.card {
    margin: 16px 16px 0 0;
}