<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<div class="main-container form-tab d_flex flex-row">
    <div class="d_flex flex-column room-panel">
        <div class="container d_flex">
            <div class="sort-rent d_flex-center">
                <button mat-icon-button class="btn btn-sort" *ngIf="order == 'desc'" (click)="onSort('asc')">
                    <mat-icon class="mat-list-icon" matTooltip="Giảm dần" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">arrow_downward</mat-icon>
                </button>
                <button mat-icon-button class="btn btn-sort" *ngIf="order == 'asc'" (click)="onSort('desc')">
                    <mat-icon class="mat-list-icon" matTooltip="Tăng dần" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">arrow_upward</mat-icon>
                </button>
                <mat-form-field appearance="fill" class="formField formField-search">
                    <mat-select [(value)]="selected">
                        <mat-option value="name">
                            Xếp theo tên
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="search-rent input-group d_flex-center ml-4">
                <span class="d_flex-center">
                    <mat-icon class="mat-list-icon" *ngIf="keyword == ''">search</mat-icon>
                    <mat-icon class="mat-list-icon" *ngIf="keyword != ''" (click)="onSearch('')">close</mat-icon>
                </span>
                <input type="text" (keyup)="keyup()" [(ngModel)]="keyword" class="search-input form-control mb-1 ng-valid ng-touched ng-dirty" placeholder="Tìm kiếm phòng">
            </div>
        </div>
        <div class="">
            <mat-tab-group>
                <mat-tab label="First">
                    <ng-template mat-tab-label>
                        <i class="fas fa-door-open fa-lg text-primary"></i>
                        &nbsp;&nbsp;&nbsp;Phòng chờ
                    </ng-template>
                    <mat-expansion-panel hideToggle [expanded]="true" *ngFor="let rentRoom of rentRooms;">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{rentRoom.name}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="d_flex flex-wrap">
                            <div *ngFor="let room of rentRoom.rooms;">
                                <mat-card class="card" *ngIf="room != null && room.isEmpty">
                                    <div class="d_flex flex-row border-bottom">
                                        <div class="flex-grow-1 room-name text-primary ellipsis title-card">{{room.name}}</div>
                                        <div>
                                            <button mat-icon-button [matMenuTriggerFor]="menuWaitingMoom">
                                                <mat-icon class="mat-list-icon">more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menuWaitingMoom="matMenu">
                                                <button mat-menu-item>
                                                    <mat-icon class="mat-list-icon">vpn_key</mat-icon>
                                                    <span>Nhận phòng</span>
                                                </button>
                                                <button mat-menu-item>
                                                    <mat-icon class="mat-list-icon">today</mat-icon>
                                                    <span>Nhận phòng đặt trước</span>
                                                </button>
                                                <button mat-menu-item (click)="onCleanRoom(room)" [disabled]="!room.isCleaned">
                                                    <mat-icon class="mat-list-icon">loyalty</mat-icon>
                                                    <span>Yêu cầu dọn phòng</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                    <div class="px-2 pt-2 d_flex flex-row">
                                        <div><mat-icon class="mat-list-icon" matTooltip="Trả phòng lần cuối">directions_walk</mat-icon></div>
                                        <div class="flex-grow-1 icon-text align-self-center">
                                            <span class="pl-2">Chưa sử dụng</span>
                                        </div>
                                    </div>
                                    <div class="px-2 py-2 d_flex flex-row" *ngIf="room.isCleaned">
                                        <div><mat-icon class="mat-list-icon text-success">check</mat-icon></div>
                                        <div class="flex-grow-1 icon-text align-self-center">
                                            <span class="pl-2">Phòng đã dọn</span>
                                        </div>
                                    </div>
                                    <div class="px-2 py-2 d_flex flex-row" *ngIf="!room.isCleaned">
                                        <div><mat-icon class="mat-list-icon text-danger">close</mat-icon></div>
                                        <div class="flex-grow-1 icon-text text-danger align-self-center">
                                            <span class="pl-2">Chưa dọn phòng</span>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-tab>
                <mat-tab label="Second">
                    <ng-template mat-tab-label>
                        <i class="fas fa-door-closed fa-lg text-warning"></i>
                        &nbsp;&nbsp;&nbsp;Phòng đang thuê
                    </ng-template>
                    <div>
                        <mat-expansion-panel hideToggle [expanded]="true" *ngFor="let rentRoom of rentRooms;" >
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{rentRoom.name}}
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="d_flex flex-wrap">
                                <div *ngFor="let room of rentRoom.rooms;">
                                    <div *ngIf="room != null && !room.isEmpty">
                                        <app-card-room-received [room]="room" [dateCheck]="checkedOut" (open)="openPanel($event, room)" (clean)="onCleanRoom(room)"></app-card-room-received>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </mat-tab>
                <mat-tab label="Third">
                    <ng-template mat-tab-label>
                        <i class="fas fa-broom fa-lg text-danger"></i>
                        &nbsp;&nbsp;&nbsp;Phòng cần dọn
                    </ng-template>
                    <mat-expansion-panel hideToggle [expanded]="true" *ngFor="let rentRoom of rentRooms;">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{rentRoom.name}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="d_flex flex-wrap">
                            <div *ngFor="let room of rentRoom.rooms;">
                                <mat-card class="card" *ngIf="room != null && !room.isCleaned">
                                    <div class="d_flex flex-row border-bottom ">
                                        <div class="flex-grow-1 room-name text-danger ellipsis title-card">{{room.name}}</div>
                                        <div>
                                            <button mat-icon-button [matMenuTriggerFor]="menuCleanRoom">
                                                <mat-icon class="mat-list-icon">more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menuCleanRoom="matMenu">
                                                <button mat-menu-item (click)="onCleanRoom(room)">
                                                    <mat-icon class="mat-list-icon">check</mat-icon>
                                                    <span>Đã dọn</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                    <div class="px-2 pt-2 d_flex flex-row" *ngIf="room.isEmpty">
                                        <div><mat-icon class="mat-list-icon">hourglass_empty</mat-icon></div>
                                        <div class="flex-grow-1 icon-text align-self-center">
                                            <span class="pl-2 text-primary">Phòng chờ</span>
                                        </div>
                                    </div>
                                    <div class="px-2 pt-2 d_flex flex-row" *ngIf="!room.isEmpty">
                                        <div><mat-icon class="mat-list-icon">local_hotel</mat-icon></div>
                                        <div class="flex-grow-1 icon-text align-self-center">
                                            <span class="pl-2 text-warning">Phòng đang thuê</span>
                                        </div>
                                    </div>
                                    <div class="px-2 py-2 d_flex flex-row">
                                        <div><mat-icon class="mat-list-icon" matTooltip="Thời điểm yêu cầu">timer</mat-icon></div>
                                        <div class="flex-grow-1 icon-text align-self-center">
                                            <span class="pl-2">{{days(room.lastCleanedAt)}} ngày trước</span>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-tab>
                <mat-tab label="Fourth">
                    <ng-template mat-tab-label>
                        <mat-icon class="mat-list-icon text-success">history</mat-icon>
                        &nbsp;&nbsp;&nbsp;Lịch sử
                    </ng-template>
                    <mat-expansion-panel hideToggle [expanded]="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Lịch sử
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="d_flex flex-wrap">
                            <div *ngFor="let receipt of receipts;">
                                <app-card-history [receipt]="receipt" [dateCheck]="checkedOut" (open)="openPanelChangeReceipt($event, receipt)"></app-card-history>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>

    <div class="right-panel">
        <!-- update rent -->

        <app-rent-update *ngIf="namePanel == 'edit'" (updateRoom)="reload($event)" [roomId]="roomId"></app-rent-update>
        <app-rent-menu *ngIf="namePanel == 'fastfood'" (orderSave)="reload($event)" [roomId]="roomId"></app-rent-menu>
        <app-rent-change-room *ngIf="namePanel == 'sync'" (change)="reload($event)" [roomId]="roomId"></app-rent-change-room>
        <app-rent-check-out *ngIf="namePanel == 'undo'" (checkRoom)="reload($event)" [roomId]="roomId" [checkedOut]="checkedOut"></app-rent-check-out>
        <app-rent-history-update *ngIf="namePanel == 'edit-h'" (changeHistory)="reload($event)" [receiptId]="receiptId" ></app-rent-history-update>
    </div>
</div>



