@use '/src/assets/styles/variables' as *;
@use '/src/assets/styles/mixins';
@use '@angular/material' as mat;
@use '/src/assets/styles/palettes' as *;

.item {
  display: block;
  text-align: center;
  text-decoration: none;
  color: $text-color;
  width: $item-width;
  box-sizing: border-box;
  padding: 0 1.5rem;
  box-shadow: $item-box-shadow;
  border-radius: 0.125rem;

  & .item-icon {
    $vertical-icon-spacing: 2.6rem;
    padding-top: $vertical-icon-spacing;
    padding-bottom: $vertical-icon-spacing;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: mat.get-color-from-palette($accent-palette, 400);
    @include mixins.set-icon-size(3.6rem);
  }

  & .item-title {
    $vertical-title-spacing: 1.4rem;
    padding-top: $vertical-title-spacing;
    padding-bottom: $vertical-title-spacing;
    font-size: 1.4rem;
    font-weight: 400;
    color: $text-color;
    margin: 0;
  }
}
