<div class="rent-update">
    <div class="topbar-sub">
        <div class="container d_flex-center">
            <div class="d_flex-center w-100">
                <mat-icon class="mat-list-icon text-warning icon-bar-sub">meeting_room</mat-icon>
                <div class="topbar-sub-title">{{room.name}}</div>
                <div class="flex-grow-1"></div>
                <button mat-button class="text-primary" (click)="save()">
                    <i class="fas fa-save"></i>LƯU
                </button>
            </div>
        </div>
    </div>
    <div class="form-sub">
        <mat-error class="text-danger" *ngIf="!isFormatTime">Giờ cần đúng định dạng giờ phút (00:00 đến 23:59).</mat-error>
        <mat-error *ngIf="!isCheckDay">Thời gian nhận phòng phải nhỏ hơn thời gian trả phòng</mat-error>
        <form [formGroup]="formHistory">
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pr-2">
                    <mat-label>Ngày nhận phòng</mat-label>
                    <input formControlName="dayCheckedIn" (dateChange)="changeDay()" matInput [matDatepicker]="receivedDateCheckedIn" readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="receivedDateCheckedIn"></mat-datepicker-toggle>
                    <mat-datepicker #receivedDateCheckedIn></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pl-2">
                    <mat-label>Giờ nhận phòng</mat-label>
                    <input formControlName="hourCheckedIn" (change)="changeHour()" matInput>
                </mat-form-field>
            </div>
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pr-2">
                    <mat-label>Ngày trả phòng</mat-label>
                    <input formControlName="dayCheckedOut" (dateChange)="changeDay()" matInput [matDatepicker]="receivedDateCheckedOut" readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="receivedDateCheckedOut"></mat-datepicker-toggle>
                    <mat-datepicker #receivedDateCheckedOut></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pl-2">
                    <mat-label>Giờ trả phòng</mat-label>
                    <input formControlName="hourCheckedOut" (change)="changeHour()" matInput>
                </mat-form-field>
            </div>
            <div class="w-100 d_flex">
                <div *ngIf="(lateHourCheckedIn*60 + lateMinuteCheckedIn) > 0" class="w-50 d-inline-block">
                    <p class="pr-2">Nhận phòng sớm {{lateHourCheckedIn}} giờ {{lateMinuteCheckedIn}} phút</p>
                </div>
                <div *ngIf="(lateHourCheckedOut*60 + lateMinuteCheckedOut) > 0" class="w-50 d-inline-block">
                    <p class="pl-2">Trả phòng muộn {{lateHourCheckedOut}} giờ {{lateMinuteCheckedOut}} phút</p>
                </div>
            </div>
            
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pr-2">
                    <mat-label>Tiền phòng</mat-label>
                    <div class="d_flex-center">
                        <span>
                        <input matInput class="text-right" formControlName="roomPrice" readonly></span>
                        <div matsuffix>.000&nbsp;₫</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="w-50 d-inline-block">
                <span class="pl-2">Tiền phòng trong {{day}} ngày</span>
            </div>
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pr-2">
                    <mat-label>Tiền phụ thu</mat-label>
                    <div class="d_flex-center">
                        <span>
                        <input matInput class="text-right" formControlName="roomExceed" readonly></span>
                        <div matsuffix>.000&nbsp;₫</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pl-2">
                    <mat-label>Tiền trả trước</mat-label>
                    <div class="d_flex-center">
                        <span>
                        <input matInput class="text-right" formControlName="prepayment" readonly></span>
                        <div matsuffix>.000&nbsp;₫</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pr-2">
                    <mat-label>Tiền menu</mat-label>
                    <div class="d_flex-center">
                        <span>
                        <input matInput class="text-right" formControlName="priceMenu" readonly></span>
                        <div matsuffix>.000&nbsp;₫</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pl-2">
                    <mat-label>Tổng tiền</mat-label>
                    <div class="d_flex-center">
                        <span>
                        <input matInput class="text-right" formControlName="totalPrice" readonly></span>
                        <div matsuffix>.000&nbsp;₫</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="w-50 d-inline-block">
                <mat-form-field appearance="fill" class="formField w-100 pr-2">
                    <mat-label>Tiền cần thanh toán</mat-label>
                    <div class="d_flex-center">
                        <span>
                        <input matInput class="text-right" formControlName="intoMoney" readonly></span>
                        <div matsuffix>.000&nbsp;₫</div>
                    </div>
                </mat-form-field>
            </div>

        </form>
        <div class="container-use-menu">
            <mat-toolbar class="toolbar">
                <span class="title-toolbar">Menu sử dụng</span>
                <mat-icon class="mat-list-icon" style="color: #c2c2c2;" (click)="deleteOrderDetailAll()">delete</mat-icon>
            </mat-toolbar>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Name Column -->
                <ng-container matColumnDef="nameItem">
                  <th mat-header-cell *matHeaderCellDef class="hearder-cell"> Tên menu </th>
                  <td mat-cell *matCellDef="let element"> {{getNameMenu(element.itemId)}} </td>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef class="hearder-cell"> Số lượng </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="remove(element)">
                        <mat-icon class="mat-list-icon">remove</mat-icon>
                    </button>
                    <input (focusout)="updateQuantity($event, element)" (focus)="mousedownInputQuantity($event)" type="number" class="quantity-input border" [value]="element.quantity" min="1">
                    <button mat-icon-button (click)="add(element)">
                        <mat-icon class="mat-list-icon">add</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef class="hearder-cell"> Ngày mua </th>
                  <td mat-cell *matCellDef="let element"> {{element.orderedAt.toLocaleDateString()}} </td>
                </ng-container>

                <!-- Operation Column -->
                <ng-container matColumnDef="operation">
                  <th mat-header-cell *matHeaderCellDef class="hearder-cell"> Thao tác </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="mat-list-icon text-muted">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="deleteOrderDetail(element)">
                            <mat-icon class="mat-list-icon">delete</mat-icon>
                            <span>Xóa</span>
                        </button>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <div class="d_flex-center container-total">
                <div>Tổng tiền</div>
                <div>{{total/1000}}.000&nbsp;₫</div>
              </div>
        </div>
    </div>
</div>
