<mat-card class="card">
    <div class="d_flex flex-row border-bottom ">
        <div class="flex-grow-1 room-name text-danger ellipsis title-card">{{room.name}}</div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menuHistory">
                <mat-icon class="mat-list-icon">more_vert</mat-icon>
            </button>
            <mat-menu #menuHistory="matMenu">
                <button mat-menu-item (click)="openPanelChangeReceipt('edit-h')">
                    <mat-icon class="mat-list-icon">edit</mat-icon>
                    <span>Chỉnh sửa</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="px-2 pt-2 d_flex flex-row">
        <div><mat-icon class="mat-list-icon" matTooltip="Thời gian trả phòng">undo</mat-icon></div>
        <div class="flex-grow-1 icon-text align-self-center">
            <span class="pl-2">{{days(receipt.createdAt)}} ngày trước</span>
        </div>
    </div>
    <div class="px-2 py-2 d_flex flex-row">
        <div><mat-icon class="mat-list-icon" matTooltip="Tổng tiền">attach_money</mat-icon></div>
        <div class="flex-grow-1 icon-text align-self-center">
            <span class="pl-2">{{VND.format(receipt.totalPrice)}}</span>
        </div>
    </div>
</mat-card>
