@use '@angular/material' as mat;
@use '/src/assets/styles/variables' as *;
@use '/src/assets/styles/mixins' as *;
@use '/src/assets/styles/palettes' as *;

.nowrap {
  white-space: nowrap;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 3.8rem;
}


table.small-font {
  & .mdc-data-table__header-cell, & .mdc-data-table__cell {
    font-size: 1.2rem;
    padding: 0 0.4rem;
    line-height: var(--mdc-typography-body2-line-height, 1.6rem);
  }

  & .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control {
    $small-checkbox: 3.2rem;
    top: calc((var(--mdc-checkbox-state-layer-size, $small-checkbox) - var(--mdc-checkbox-state-layer-size, $small-checkbox)) / 2);
    right: calc((var(--mdc-checkbox-state-layer-size, $small-checkbox) - var(--mdc-checkbox-state-layer-size, $small-checkbox)) / 2);
    left: calc((var(--mdc-checkbox-state-layer-size, $small-checkbox) - var(--mdc-checkbox-state-layer-size, $small-checkbox)) / 2);
    width: var(--mdc-checkbox-state-layer-size, $small-checkbox);
    height: var(--mdc-checkbox-state-layer-size, $small-checkbox);
  }

  & .action-cell {
    & button + button {
      margin-left: unset;
    }
  }
}

.right-panel-main {
  $vertical-padding: max(0.8rem, $horizontal-content-padding / 3);
  padding: $vertical-padding $horizontal-content-padding;
}

// Sidenav
.mat-sidenav-container {
  min-height: 100vh;
  background-color: white;

  & .mat-sidenav {
    width: 26rem;

    & .sidenav-header {
      height: $header-height;
      display: flex;
      align-items: center;

      & .logo-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
      }

      & .logo-icon {
        color: mat.get-color-from-palette($primary-palette, 600);
        @include set-icon-size(4.2rem);
        padding-left: $horizontal-content-padding;
      }

      & .logo-text {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.1rem;
        margin-left: 1rem;
        margin-bottom: unset;
        color: $text-color;
      }
    }

    & .nav-item {
      padding: 0.4rem 2.5rem;
      box-sizing: border-box;
      height: 5.6rem;

      &.active {
        $color: mat.get-color-from-palette($primary-palette, 600);
        color: $color;
        background-color: unset;

        & .mat-icon, .item-title {
          color: $color;
        }
      }

      & .mat-icon {
        @include set-icon-size(2.4rem);
        margin-left: 0;
        margin-right: 1.5rem;
      }

      & .item-title {
        line-height: 3rem;
        font-size: 1.3rem;
        padding-top: 1rem;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }

  & .mat-sidenav-content {
    & .top-toolbar {
      display: flex;
      background-color: inherit;
      align-items: center;
      padding-left: $horizontal-content-padding;
      padding-right: $horizontal-content-padding;
      height: $header-height;

      & .info {
        display: flex;
        margin-left: -$item-gap;
        align-items: center;

        & .menu-toggle-btn {
          margin-right: $horizontal-content-padding;

          & .menu-icon {
            @include set-icon-size(2.4rem);
          }
        }
      }

      & .heading {
        margin-bottom: unset;
        font-size: 1.5rem;
        padding-top: 0.2rem;
        text-transform: uppercase;
        font-weight: 400;
        color: $text-color;
      }
    }
  }
}

// Table
table {
  & .mdc-data-table__header-cell, .mdc-data-table__cell {
    font-size: 1.4rem;
  }
}

// Table
.table-container {
  max-height: 70vh;
  overflow: overlay;
}

/* Column Widths */
.mat-column-narrower {
  max-width: 3.2rem;
}

.mat-column-narrow {
  max-width: 12.4rem;
}

// Paginator
mat-paginator .mat-mdc-paginator-container {
  align-items: unset;
}

.mat-mdc-paginator .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-bottom: 0;
  min-height: unset;
}

.mat-mdc-form-field.mat-mdc-paginator-page-size-select {
  margin: 0.6rem 0.4rem 0;
  width: 5.6rem;

  & mat-select {
    border-bottom: 0.1rem solid;
  }

  & .mdc-text-field {
    border: none;
  }

  & .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em;
  }

  & .mdc-notched-outline__leading {
    border-left: none;
  }

  & .mdc-notched-outline__trailing {
    border-right: none;
  }

  & .mdc-notched-outline__leading,
  .mdc-notched-outline__trailing {
    border-top: 0;
  }

  & .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading,
  .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

// Button
.action-row {
  margin-bottom: 1rem;

  & button {
    font-weight: 400;
    font-size: 1.4rem;

    & + button {
      margin-left: 0.8rem;
    }

    & .mat-icon {
      @include set-icon-size(1.7rem);
    }
  }
}

.action-cell {
  & button {
    min-width: 3.2rem;

    & + button {
      margin-left: 0.4rem;
    }

    & .mat-icon {
      @include set-icon-size(1.7rem);
      margin: 0;
    }
  }
}

button.secondary {
  &.mat-mdc-raised-button:not(:disabled) {
    background-color: mat.get-color-from-palette(mat.$green-palette, 500);
    color: white;
  }

  &.mat-mdc-button:not(:disabled), &.mat-mdc-outlined-button:not(:disabled) {
    color: mat.get-color-from-palette(mat.$green-palette, 500);
    &:hover {
      background-color: mat.get-color-from-palette(mat.$green-palette, 50);
    }
  }
}


// Form
.form-wrapper {
  $form-padding: 1.6rem;

  & .form-header {
    height: 6.3rem;
    padding-left: $form-padding;
    padding-right: $form-padding;
    display: flex;
    align-items: center;

    & .form-heading {
      margin-bottom: unset;
      margin-right: 1rem;
      flex: 1;
      font-size: 1.5rem;
      padding-top: 0.2rem;
      text-transform: uppercase;
      font-weight: 400;
      color: $text-color;
    }

    & .form-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      & button {
        font-weight: 400;
        font-size: 1.5rem;

        & + button {
          margin-left: 0.6rem;
        }

        & .mat-icon {
          @include set-icon-size(1.8rem);
        }
      }
    }
  }

  & .form-content {
    padding: $form-padding;
  }
}

.half-form-field {
  $half-pad: 0.8rem;
  display: inline-block;
  width: calc(50% - #{$half-pad});

  &:nth-of-type(even) {
    margin-left: $half-pad * 2;
  }
}

// Form field
mat-form-field {
  width: 100%;
  outline: none;
  border: none;



  & input.text-right {
    text-align: right;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
    }
  }

  & .mdc-text-field--filled .ndc-floating-label--float-above {
    transform: unset;
  }

  & .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
  }

  & .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
  }

  & .mdc-text-field {
    padding: 0;
  }

  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: unset;
    bottom: 0;

    &.mdc-floating-label--float-above {
      top: 2.8rem;
      bottom: unset;
    }
  }
}

.mat-mdc-form-field-subscript-wrapper {
  & .mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
