<div>
    <div class="fc-content">
      <div class="fc-event st-booking ">
        <div class="d-flex align-item">
          <div class="alight" [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon>Quốc</div>
        </div>
        <mat-menu #menu="matMenu">
          <div class="submenu">
            <button mat-menu-item (click)="showComponentEdit()"><mat-icon>edit</mat-icon>Chỉnh
              sửa</button>
            <button mat-menu-item ><mat-icon>vpn_key</mat-icon>Nhận
              phòng</button>
            <button mat-menu-item><mat-icon>cancel</mat-icon>Hủy đặt phòng</button>
            <button mat-menu-item><mat-icon>delete</mat-icon>Xóa</button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
  
