justify-content-space-betweent{
    justify-content: space-between;
}
.mw-500{
max-width: 520px;
}
.mw-250px{
    max-width: 250px;
}
.mr-126{
    margin-right: 126px;
}
.color-x{
    color: rgba(0, 0, 0, 0.6);
}
.mr-68{
    margin-right: 68px;
}
.fs-16{
    font-size: 16px;
}
.border-none{
    border: none;
}
.p16-24{
    padding: 16px 24px;
}
.border-none{
    border: none;
}
.mr-12{
    margin-right: 12px;
}

.btnTao{
    margin-top: 20px;
    margin-left: 90px;
    background: #339f33;
    width: 300px;
}
.btnAdd{
    padding: 4px 14px; border:none; color: rgb(233, 109, 0);
}
.ml-145{
    margin-left: 145px;
}
.d-flex{
    display: flex;
}
.p-20{
    padding: 20px;
}
.color-xam{
    color: rgba(0, 0, 0, 0.6);
}