$header-height: 6.5rem;
$horizontal-content-padding: 2.4rem;
$text-color: rgba(102, 97, 91, 1);
$item-gap: 1.6rem;
$item-width: 14.4rem;
$item-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
